---
import RootLayout from "../layouts/rootLayout.astro";
---

<RootLayout>
  <div
    class="flex h-screen w-full items-center justify-center gap-2 text-center align-middle"
  >
    <span class="font-extrabold dark:text-white">My</span>
    <span class="text-4xl font-extrabold text-primary">Portfolio</span>
  </div>
</RootLayout>
