---
import MetaTags from "./injects/meta.astro";
import TailwindInject from "./injects/tailwind.astro";
import ThemeSwitch from "./injects/theme.astro";
import Navbar from "./navbar/navbar.astro";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <MetaTags title={title} />
    <TailwindInject />
    <ThemeSwitch />
  </head>
  <body>
    <main>
      <Navbar />
      <slot />
    </main>
  </body>
</html>
